default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.12.0
    hooks:
    -   id: black
        exclude: ^docs/

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.11
  hooks:
  - id: ruff
    args: [ --fix ]

- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    additional_dependencies:
    - tomli

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
    -   id: mypy
        args:
         - "--disable-error-code=union-attr"
         - "--disable-error-code=arg-type"
         - "--disable-error-code=call-arg"
         - "--disable-error-code=assignment"
         - "--disable-error-code=attr-defined"
         - "--disable-error-code=import-not-found"
         - "--disable-error-code=func-returns-value"
         - "--disable-error-code=override"

        files: ^(src/|tests/)
        additional_dependencies:
         - "types-PyYAML"
         - "pandas-stubs"
         - "pydantic"
