/* The primary sphinx copybutton for code blocks. */
button.copybtn {
   opacity: 1;
}

/* Confusingly, this is the identifier for the toggleprompt button. */
span.copybutton {
   opacity: 0;
}

/* Make tighter tables use auto width instead of full width */
.table-wrapper table {
    width: auto !important;
    text-align: center;
}
