name: Setup Release Labels

on:
  workflow_dispatch:

jobs:
  create-labels:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Download Latest Auto binary
        run: |
          auto_download_url="$(curl -fsSL https://api.github.com/repos/intuit/auto/releases/latest | jq -r '.assets[] | select(.name == "auto-linux.gz") | .browser_download_url')"
          wget -O- "$auto_download_url" | gunzip > ~/auto
          chmod a+x ~/auto
      - name: Create labels
        run: ~/auto create-labels
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
