name: Release with Auto

on:
  push:
    branches: [ main ]
  workflow_dispatch:

concurrency:
  group: auto-release-${{ github.ref }}
  cancel-in-progress: true

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      checks: write
      contents: write
      statuses: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Download Latest Auto Binary
        run: |
          auto_download_url="$(curl -fsSL https://api.github.com/repos/intuit/auto/releases/latest | jq -r '.assets[] | select(.name == "auto-linux.gz") | .browser_download_url')"
          wget -O- "$auto_download_url" | gunzip > ~/auto
          chmod a+x ~/auto
      - name: Configure Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
      - name: Create Release
        run: ~/auto shipit -vv
        env:
          GITHUB_TOKEN: ${{ secrets._GITHUB_API_KEY }}
          PROTECTED_BRANCH_REVIEWER_TOKEN: ${{ secrets._GITHUB_API_KEY }}
