name: Build and upload Docker image of dev branch to GHCR

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  release-image:
    name: Build and upload Docker image of dev branch to GHCR
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          push: true  # Push is a shorthand for --output=type=registry
          tags: ghcr.io/con/nwb2bids:dev
          context: .
          file: containers/Dockerfile.dev
          provenance: false
