name: Build and upload Docker image of dev branch to GHCR

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build-test-push:
    name: Build, test, and push dev image to GHCR
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build image
        uses: docker/build-push-action@v5
        with:
          push: false
          load: true
          tags: ghcr.io/con/nwb2bids:dev
          context: .
          file: containers/Dockerfile.dev

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install test dependencies
        run: pip install -e . pytest

      - name: Run container CLI tests
        run: pytest -m container_cli_test -v --container-image=ghcr.io/con/nwb2bids:dev

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push to GHCR
        run: docker push ghcr.io/con/nwb2bids:dev
