name: Deploy tests

on:
  pull_request:
    types: [synchronize, opened, reopened, ready_for_review]
  merge_group:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  Tests:
    uses: ./.github/workflows/testing.yml
    with:
      pytest_markexpr: 'not remote'
      os_list: '["windows-2022","windows-latest","macos-13","macos-latest","ubuntu-latest"]'
      python_list: '["3.10","3.11","3.12","3.13"]'
    secrets:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
